:root {
	--pink-color  : #CD4BAC;
}

/*------------------------------   Common   ----------------------------------*/

::-moz-selection {
    background: var(--cyan-color);
    color: white;
}
::selection {
    background: var(--cyan-color);
    color: white;
}
a, a:hover {
	color: var(--cyan-color);
}

@font-face {
	font-family: "Quick";
	src: url('../fonts/Quick.ttf') format("truetype");
	font-weight: normal;
	font-style : normal;
}

html {
	height: 100%;
}
body {
	/*(Height total - (height header + footer))*/
	height: calc(100% - (120px + 78px));
	background-color: var(--main-color);
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color);
}
section {
	min-height:100%;
	z-index: 1;
}

/* ------------------------------  Footer  -----------------------------------*/

footer {
	background-color: var(--second-color);
	margin-top: 80px;
	width: 100%;
	height: 40px;
}

/* -------------------------------  Alerts  ----------------------------------*/

#alert {
	z-index: 5;
}
#alertNone {
	display: block;
	width: 100%;
	height: 50px;
}
.navbar {
	z-index: 10;
}

/*-----------------------------   Button style   -----------------------------*/

.style-button {
	border: 3px solid;
	padding: 5px 10px;
	border-radius: 20px;
	transition: 0.2s color, 0.2s background-color, 0.2s border-color;
}
.style-button:hover {
	text-decoration: none;
	transition: 0.2s color, 0.2s background-color, 0.2s border-color;
}

/*--------------------------------  Navbar  ----------------------------------*/

.navbar-brand {
	color: var(--cyan-color) !important;
	font-family: Quick, sans-serif;
	font-size: 2.6rem;
	transition: 0.2s color;
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-brand:hover {
	color: var(--pink-color) !important;
	transition: 0.2s color;
}
.navbar {
	background-color: var(--second-color) !important;
}

/* Navbar buttons  */
.button-color-first {
	color: var(--gold-color);
	border-color: var(--gold-color);
}
.button-color-first:hover {
	background-color: var(--gold-color);
	color: var(--second-color);
}
.button-color-second {
	color: var(--cyan-color);
	border-color: var(--cyan-color);
}
.button-color-second:hover {
	color: var(--second-color);
	background-color: var(--cyan-color);
}
.fa-power-off, .fa-user-alt {
	border-radius: 100%;
	padding: 7px;
	border: 3px solid var(--cyan-color);
	transition: 0.2s color, 0.2s background-color;
}
.fa-power-off:hover, .fa-user-alt:hover {
	color: var(--second-color);
	background-color: var(--cyan-color);
	transition: 0.2s color, 0.2s background-color;
}
.studio-button {
	font-weight: 500;
	color: var(--pink-color);
	border-color: var(--pink-color);
}
.studio-button:hover {
	color: var(--second-color);
	background-color: var(--pink-color);
}

/* ------------------------------  Gallery page ----------------------------- */

.title {
	font-weight: 200;
	font-size: 2rem;
	margin: 40px auto 40px auto;
}

/* ------------------------------- Register page -----------------------------*/

.details {
	font-style: italic;
	font-size: 0.8rem;
	margin-top: -30px;
	padding-left: 25px;
	color: white;
}

.button-color-submit {
	cursor: pointer;
	color: var(--cyan-color);
	border-color: var(--cyan-color);
	background-color: var(--main-color);
}
.button-color-submit:hover {
	border-color: var(--pink-color);
	background-color: var(--pink-color);
	color: white;
}

/* --------------------------------- Legals ----------------------------------*/

.subtitle {
	margin: 25px auto 15px auto;
	font-weight: 300;
	font-size: 1.5rem;
}


/*----------------------------------- 404 ------------------------------------*/

.error-body {
	background-color: var(--second-color);
}

.error-title {
	font-family: Quick, sans-serif;
	font-size: 6rem;
}
.error-link {
	text-decoration: none !important;
}
#countdown {
	color: var(--cyan-color);
	margin: auto 7px;
	font-size: 1.1rem;
}

/*---------------------------------  Settings  -------------------------------*/

.button-color-settings {
	color: var(--gold-color);
	border-color: var(--gold-color);
	background-color: var(--main-color);
}
.button-color-settings:hover {
		cursor: pointer;
	color: var(--main-color);
	background-color: var(--gold-color);
}

/*---------------------------------  Studio  ---------------------------------*/


.sidebar {
	text-align: center;
	width: 100%;
	border-radius: 5px;
	height: 100%;
	padding: 15px;
	box-shadow: 2px 11px 63px -7px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 11px 63px -7px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 11px 63px -7px rgba(0,0,0,0.5);
}
.longbar {
	text-align: center;
}
.longbar-title {
	text-align: left;
	font-size: 1.5rem;
	font-weight: 300;
}
.sidebar-title {
	margin: 15px auto 20px auto;
	font-size: 1.3rem;
	font-weight: 300;
}

.item img {
	margin-top: 5px;
	background-color: var(--text-color);
	width: 100px;
	height: auto;
	border-radius: 100%;
}

.button-color-sidebar {
	color: var(--cyan-color);
	border-color: var(--cyan-color);
	background-color: var(--main-color);
}
.button-color-sidebar:hover {
	color: var(--main-color);
	background-color: var(--cyan-color);
}

/* -----  Slider ------*/

.slider {
	position: relative;
	overflow: hidden;
}
.slider-container {
	padding-right: 30px;
	padding-left: 30px;
	transition: transform 0.3s;
	transform: translate3d(0, 0, 0);
}
.slider-container::after {
	content: '';
	clear: both;
	display: table;
}
.slider-item {
	float: left;
}

.slider-next, .slider-prev {
	color: var(--second-color);
	background-color: var(--text-color);
	background-size: 20px 20px;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -20px;
	cursor: pointer;
}

.slider-prev {
	right: auto;
	left: 0px;
}

.fa-angle-right, .fa-angle-left {
	margin-top: 3px;
	margin-left: 2px;
}
.fa-angle-left {
	margin-left: -2px;
}


/*---------------  Checkbox studio  --------------------*/

#slider1 input[type=checkbox] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
#slider1 input[type=checkbox] + .item img {
	cursor: pointer;
}
#slider1 input[type=checkbox]:checked + .item img {
	border: 5px solid var(--pink-color);
	transition: 0.3s all;
}

.label-file {
    cursor: pointer;
    color: var(--cyan-color);
}
.label-file:hover {
    text-decoration: underline;
}
.input-file {
    display: none;
}

/* ---------------------------  Camera  --------------------------*/

#videoElement {
	width: 100%;
	height: 464px;
	border-radius: 5px;
	z-index: 0;
}
.fakeScreen {
	width: 100%;
	height: 464px;
	background-color: black;
	border-radius: 5px;
}
.button-color-photo {
	border: 4px solid var(--cyan-color);
	background-color: var(--second-color);
	color: var(--cyan-color);
	border-radius: 30px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 10;
	transition: 0.3s all;
	transition-delay: 0.2s;
}
.button-color-photo:focus {
	outline: none;
}
.button-color-photo:active {
	background-color: var(--cyan-color);
	color: var(--second-color);
}
.button-color-photo:hover {
	width: 200px;
	transition: 0.3s all;
}
.button-color-photo:after {
	content: 'Prendre instashot';
	opacity: 0;
	transition: 0.3s all;
}
.button-color-photo:hover:after {
	opacity: 1;
	transition-delay: 0.2s;
}

.takePhotoParent {
	position: relative;
	bottom: 60px;
	right: 10px;
	margin-bottom: -50px;
}
/*------  test -------*/

.fakeImg {
	border-radius: 5px;
	margin-top: 20px;
	background-color: white;
	width: 100%;
	height: 140px;
}
