:root {
	--pink-color  : #CD4BAC;
}

/*------------------------------   Common   ----------------------------------*/

::-moz-selection {
    background: var(--cyan-color);
    color: white;
}
::selection {
    background: var(--cyan-color);
    color: white;
}
a, a:hover {
	color: var(--cyan-color);
}

@font-face {
	font-family: "Quick";
	src: url('../fonts/Quick.ttf') format("truetype");
	font-weight: normal;
	font-style : normal;
}

html {
	height: 100%;
}
body {
	/*(Height total - (height header + footer))*/
	height: calc(100% - (120px + 78px));
	background-color: var(--main-color);
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color);
}
section {
	min-height:100%;
	z-index: 1;
}

/* ------------------------------  Footer  -----------------------------------*/

footer {
	background-color: var(--second-color);
	margin-top: 80px;
	width: 100%;
	height: 40px;
}

/* -------------------------------  Alerts  ----------------------------------*/

#alert {
	z-index: 5;
}
#alertNone {
	display: block;
	width: 100%;
	height: 50px;
}
.navbar {
	z-index: 10;
}

/*-----------------------------   Button style   -----------------------------*/

.style-button {
	border: 3px solid;
	padding: 5px 10px;
	border-radius: 20px;
	transition: 0.2s color, 0.2s background-color, 0.2s border-color;
}
.style-button:hover {
	text-decoration: none;
	transition: 0.2s color, 0.2s background-color, 0.2s border-color;
}

/*--------------------------------  Navbar  ----------------------------------*/

.navbar-brand {
	color: var(--cyan-color) !important;
	font-family: Quick, sans-serif;
	font-size: 2.6rem;
	transition: 0.2s color;
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-brand:hover {
	color: var(--pink-color) !important;
	transition: 0.2s color;
}
.navbar {
	background-color: var(--second-color) !important;
}

/* Navbar buttons  */
.button-color-first {
	color: var(--gold-color);
	border-color: var(--gold-color);
}
.button-color-first:hover {
	background-color: var(--gold-color);
	color: var(--second-color);
}
.button-color-second {
	color: var(--cyan-color);
	border-color: var(--cyan-color);
}
.button-color-second:hover {
	color: var(--second-color);
	background-color: var(--cyan-color);
}
.fa-power-off, .fa-user-alt {
	border-radius: 100%;
	padding: 7px;
	border: 3px solid var(--cyan-color);
	transition: 0.2s color, 0.2s background-color;
}
.fa-power-off:hover, .fa-user-alt:hover {
	color: var(--second-color);
	background-color: var(--cyan-color);
	transition: 0.2s color, 0.2s background-color;
}
.studio-button {
	font-weight: 500;
	color: var(--pink-color);
	border-color: var(--pink-color);
}
.studio-button:hover {
	color: var(--second-color);
	background-color: var(--pink-color);
}

/* ------------------------------  Gallery page ----------------------------- */

.title {
	font-weight: 200;
	font-size: 2rem;
	margin: 0px 0px 40px 0px;
}
.shotsLink {
	margin: 50px -20px 30px 0px;
}

/* ------------------------------- Register page -----------------------------*/

.details {
	font-style: italic;
	font-size: 0.8rem;
	margin-top: -30px;
	padding-left: 25px;
	color: white;
}

.button-color-submit {
	cursor: pointer;
	color: var(--cyan-color);
	border-color: var(--cyan-color);
	background-color: var(--main-color);
}
.button-color-submit:hover {
	border-color: var(--pink-color);
	background-color: var(--pink-color);
	color: white;
}

/* --------------------------------- Legals ----------------------------------*/

.subtitle {
	margin: 25px auto 15px auto;
	font-weight: 300;
	font-size: 1.5rem;
}


/*----------------------------------- 404 ------------------------------------*/

.error-body {
	background-color: var(--second-color);
}

.error-title {
	font-family: Quick, sans-serif;
	font-size: 6rem;
}
.error-link {
	text-decoration: none !important;
}
#countdown {
	color: var(--cyan-color);
	margin: auto 7px;
	font-size: 1.1rem;
}

/*---------------------------------  Settings  -------------------------------*/

.button-color-settings {
	color: var(--gold-color);
	border-color: var(--gold-color);
	background-color: var(--main-color);
}
.button-color-settings:hover {
		cursor: pointer;
	color: var(--main-color);
	background-color: var(--gold-color);
}

/*---------------------------------  Studio  ---------------------------------*/


.sidebar {
	text-align: center;
	width: 100%;
	border-radius: 5px;
	height: 100%;
	padding: 15px;
	box-shadow: 2px 11px 63px -7px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 11px 63px -7px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 11px 63px -7px rgba(0,0,0,0.5);
}
.longbar {
	text-align: center;
}
.longbar-title {
	text-align: left;
	font-size: 1.5rem;
	font-weight: 300;
}
.sidebar-title {
	margin: 15px auto 40px auto;
	font-size: 1.3rem;
	font-weight: 300;
}

.item img {
	margin-top: 5px;
	background-color: white;
	width: 100px;
	height: auto;
	border-radius: 100%;
}

.button-color-sidebar {
	color: var(--cyan-color);
	border-color: var(--cyan-color);
	background-color: var(--main-color);
}
.button-color-sidebar:hover {
	color: var(--main-color);
	background-color: var(--cyan-color);
}

.alertStudio {
	height: 66px !important;
}

/* -----  Slider ------*/

.slider {
	position: relative;
	overflow: hidden;
}
.slider-container {
	padding-right: 30px;
	padding-left: 30px;
	transition: transform 0.3s;
	transform: translate3d(0, 0, 0);
}
.slider-container::after {
	content: '';
	clear: both;
	display: table;
}
.slider-item {
	float: left;
}

.slider-next, .slider-prev {
	color: var(--second-color);
	background-color: var(--text-color);
	background-size: 20px 20px;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -20px;
	cursor: pointer;
}

.slider-prev {
	right: auto;
	left: 0px;
}

.fa-angle-right, .fa-angle-left {
	margin-top: 3px;
	margin-left: 2px;
}
.fa-angle-left {
	margin-left: -2px;
}


/*---------------  Checkbox studio  --------------------*/

#slider1 input[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
#slider1 input[type=radio] + .item img {
	cursor: pointer;
}
#slider1 input[type=radio]:checked + .item img {
	border: 5px solid var(--pink-color);
	transition: 0.3s all;
}

.label-file {
    cursor: pointer;
    color: var(--cyan-color);
}
.label-file:hover {
    text-decoration: underline;
}
.input-file {
    display: none;
}

/* ---------------------------  Camera  --------------------------*/

#videoElement {
	width: 100%;
	height: 464px;
	border-radius: 5px;
	z-index: 0;
}

.allLayers {
	position: relative;
	bottom: 471px;
}
.layerPlayer {
	width: 100%;
	height: 464px;
}

.fakeScreen {
	width: 100%;
	height: 464px;
	background-color: black;
	border-radius: 5px;
}
.button-color-photo {
	border: 4px solid var(--cyan-color);
	background-color: var(--second-color);
	color: var(--cyan-color);
	border-radius: 30px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 10;
	transition: 0.3s all;
	transition-delay: 0.2s;
}
.button-color-photo:focus {
	outline: none;
}
.button-color-photo:active {
	background-color: var(--cyan-color);
	color: var(--second-color);
}
.button-color-photo:hover {
	width: 200px;
	transition: 0.3s all;
}
.button-color-photo:after {
	content: 'Prendre instashot';
	opacity: 0;
	transition: 0.3s all;
}
.button-color-photo:hover:after {
	opacity: 1;
	transition-delay: 0.2s;
}

.button-color-photo:disabled {
	background-color: var(--main-color);
	color: var(--text-color);
	border-color: var(--text-color);
}
.button-color-photo:disabled:after {
	content: 'Verrouillé';
}


.takePhotoParent {
	position: relative;
	bottom: 60px;
	right: 10px;
	margin-bottom: -50px;
}

.canvas {
	width: 100%;
	height: 464px;
	border-radius: 5px;
}

/* ---------------------------  Sidebar  --------------------------*/

.fakeImg {
	color: var(--text-color);
	padding: 0 !important;
	border: none;
	border-radius: 7px;
	background-color: var(--main-color);
	transition: 0.2s background-color;
	width: 100%;
}
.fakeImg img {
	width: 100%;
	border-radius: 5px;
	transition: opacity 0.2s;
}
.fakeImg img:hover {
	opacity: 0.7;
	transition: opacity 0.2s;
}
.fakeImg:hover .fa-times {
	opacity: 1;
	transition: opacity 0.2s;
}
.fakeImg:hover {
	cursor: pointer;
	background-color: var(--cyan-color);
	transition: 0.2s background-color;
}
.fakeImg:hover img {
	opacity: 0.7;
	transition: opacity 0.2s;
}

@media (max-width: 1199px) and (min-width: 992px) {
	#videoElement, .layerPlayer, .fakeScreen {
		height: 523px;
	}
	.allLayers {
		bottom: 530px;
	}
}
/*Desactivation des layers sur les petites tailles d'écran*/
@media (max-width: 991px) {
	.allLayers {
		display: none;
	}
}
/*-----------------------  Gallery  ------------------------------*/

.bigPicture {
	margin-bottom: 30px;
	border-radius: 6px;
}
.picture {
	border-radius: 6px;
	margin-bottom: 18px;
}
.imgGallery, .imgGalleryBig {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	transition: opacity 0.2s;
}
.picture, .bigPicture {
	background-color: var(--cyan-color);
}
.imgGallery:hover, .imgGalleryBig:hover {
	opacity: 0.7;
	transition: opacity 0.2s;
}

@media (max-width: 991px) {
	.bigPicture {
		margin-bottom: 18px;
	}
}

/* Comments and likes*/
.fa-heart {
	color: var(--pink-color);
	font-size: 1.7em;
}
.heart-text {
	color: var(--pink-color);
	font-size: 0.8em;
	margin-top: -.2em;
}
.fa-comment-alt {
	color: var(--gold-color);
	margin-top: .1em;
	font-size: 1.5em;
}
.comment-text {
	color: var(--gold-color);
	margin-top: -.3em;
	font-size: 0.8em;
}
.icons {
	position: absolute;
	right: 20px;
	margin-top: -35px;
}
.icon-heart {
	right: 55px;
}
.icon-author {
	position: absolute;
	left: 25px;
	margin-top: -25px;
	font-size: 0.8em;
}

.icon-delete {
	color: var(--cyan-color);
	transition: color 0.3s;
	position: absolute;
	top: 10px;
	right: 30px;
	padding: 0 !important;
	background-color: unset;
	border: none;
	cursor: pointer;
}
.icon-delete-studio {
	position: absolute;
	top: 10px;
	right: 10px;
	color: var(--cyan-color);
}
.icon-delete:hover {
	color: var(--pink-color);
	transition: color 0.3s;
}


/*----  Pagination  -----*/

.pageCounter {
	margin: 20px 0px 20px 0px;
}
.currentPage {
	padding-top: 1px;
	text-align: center;
	width: 30px;
	height: 30px;
	border: 3px solid var(--text-color);
	border-radius: 100%;
}
.otherPages {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}

/*------------------------  Shot  -----------------------------*/

.shot {
	width: 100%;
	border-radius: 5px;
}
.oneLikeMore {
	font-size: 1.3em;
	padding: 0px !important;
	border: none;
	background-color: unset;
	cursor: pointer;
}
.heart-button-text:hover, .oneLikeMore:hover .buttonLike {
	color: var(--cyan-color);
	transition: color 0.2s;
}
.heart-button-text, .buttonLike {
	transition: color 0.2s;
}

.comment-title {
	font-size: 1.4rem;
	font-weight: 300;
}
.no-comment {
	font-size: 0.8rem;
	font-weight: 200;
}
.connect-comment {
	font-size: 1rem;
	font-weight: 200;
}
.textarea-comment {
	resize:none;
}
.comment {
	background-color: var(--second-color);
	border-radius: 5px;
}
.comment-text-content {
 	overflow: hidden;
  	text-overflow: ellipsis; 
}
.my-comment {
	border: 3px solid var(--gold-color);
}
.checked {
	color: var(--cyan-color);
}