:root {
	--pink-color  : #CD4BAC;
	--gold-color  : #EEFC76;
	--cyan-color  : #66DDB3;
	--main-color  : #2F3A44; /*Background dark*/
	--second-color: #2A313C; /*Navbar*/
}

/*------------------------------   Common   ----------------------------------*/

::-moz-selection {
    background: var(--cyan-color);
    color: white;
}
::selection {
    background: var(--cyan-color);
    color: white;
}
a, a:hover {
	color: var(--cyan-color);
}

@font-face {
	font-family: "Quick";
	src: url('../fonts/Quick.ttf') format("truetype");
	font-weight: normal;
	font-style : normal;
}

body {
	background-color: var(--main-color);
	font-family: 'Montserrat', sans-serif;
	color: white;
}

/* -------------------------------  Alerts  ----------------------------------*/

#alert {
	z-index: 5;
}
#alertNone {
	display: block;
	width: 100%;
	height: 50px;
}
.navbar {
	z-index: 10;
}
section {
	z-index: 1;
}

/*-----------------------------   Button style   -----------------------------*/

.style-button {
	border: 3px solid;
	padding: 5px 10px;
	border-radius: 20px;
	transition: 0.2s color, 0.2s background-color, 0.2s border-color;
}
.style-button:hover {
	text-decoration: none;
	transition: 0.2s color, 0.2s background-color, 0.2s border-color;
}

/*--------------------------------  Navbar  ----------------------------------*/

.navbar-brand {
	color: var(--cyan-color) !important;
	font-family: Quick, sans-serif;
	font-size: 2.6rem;
	transition: 0.2s color;
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-brand:hover {
	color: var(--pink-color) !important;
	transition: 0.2s color;
}
.navbar {
	background-color: var(--second-color) !important;
}

/* Navbar buttons  */
.button-color-first {
	color: var(--gold-color);
	border-color: var(--gold-color);
}
.button-color-first:hover {
	background-color: var(--gold-color);
	color: var(--second-color);
}
.button-color-second {
	color: var(--cyan-color);
	border-color: var(--cyan-color);
}
.button-color-second:hover {
	color: var(--second-color);
	background-color: var(--cyan-color);
}
.fa-power-off, .fa-user-alt {
	border-radius: 100%;
	padding: 7px;
	border: 3px solid var(--cyan-color);
	transition: 0.2s color, 0.2s background-color;
}
.fa-power-off:hover, .fa-user-alt:hover {
	color: var(--second-color);
	background-color: var(--cyan-color);
	transition: 0.2s color, 0.2s background-color;
}
.studio-button {
	font-weight: 500;
	color: var(--pink-color);
	border-color: var(--pink-color);
}
.studio-button:hover {
	color: var(--second-color);
	background-color: var(--pink-color);
}

/* ------------------------------  Gallery page ----------------------------- */

.title {
	font-weight: 200;
	font-size: 2rem;
	margin: 40px auto 40px auto;
}

/* ------------------------------- Register page -----------------------------*/

.details {
	font-style: italic;
	font-size: 0.8rem;
	margin-top: -30px;
	padding-left: 25px;
	color: white;
}

.button-color-submit {
	cursor: pointer;
	color: var(--cyan-color);
	border-color: var(--cyan-color);
	background-color: var(--main-color);
}
.button-color-submit:hover {
	border-color: var(--pink-color);
	background-color: var(--pink-color);
	color: white;
}

/* --------------------------------- Legals ----------------------------------*/

.subtitle {
	margin: 25px auto 15px auto;
	font-weight: 300;
	font-size: 1.5rem;
}


/*----------------------------------- 404 ------------------------------------*/

.error-body {
	background-color: var(--second-color);
}

.error-title {
	font-family: Quick, sans-serif;
	font-size: 6rem;
}
.error-link {
	text-decoration: none !important;
}
#countdown {
	color: var(--cyan-color);
	margin: auto 7px;
	font-size: 1.1rem;
}
